header {
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    color: #EEEEEE;
}

header h1 {
    margin: 8px 16px;
}

header ul li {
    float: left;
    padding: 16px;
}

header ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about-me {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    background-image: linear-gradient(to top, #A91D3A, #C73659);
    border-bottom: 5px solid #151515;
}

.about-me .caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me img {
    width: 150px;
    height: 150px;
}

.about-me p {
    display: flex;
    align-items: center;
    width: 50%;
    
}

footer {
    height: 800px;
}